@charset "UTF-8";
/* CSS Document */

/*Remove this rule, this is only for demo purposes to make the boxes black with white text
The line height on the <p> tag gives each box a height value*/


/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	

p {
	color: #fff;
}

h1,h2,h3,h4,h5 {
	font-family: Bookman, Times, serif;
	color: #fff;
}

h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 5px;
}
h4 {
	margin: 5px;
	font-size: 15px;
}

img { 
	border: 4px solid #c98514;
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	background-color: #084d22;
}


/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited 
{ 
 	text-decoration:none;
 	color: #fff; 	
}

a:hover, a:active 
{ 
	text-decoration: underline; 
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Site Container*/
/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits on 1024x768 screens.*/

#siteContainer {
	margin: 0 auto;
	width: 960px;
	background-color: #0a662d;
}

/*This is a flex container*/
#mainHeader {
	padding: 20px 40px 20px 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	border-bottom: solid 1px #DDD;
}

/*This is a flex item*/
#logo
{
	width: 330px;
	height: 160px;
	background-color: #084d22;
	border: 4px;
	border-color: #c98514;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/
#mainNav 
{
	margin-left: auto;
	width: 500px;
	height: 70px;
	background-color: #084d22;
	display: flex;
	justify-content: space-between;
}
#navigation {
	list-style-type: none;
	font-size: 20px;
	font-family: Bookman, Times, serif;
	color: #fff;
}

.sideways {
	display: inline-block;
	margin-right: 20px;
}

#promo {
	height: 260px;
	margin-top: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/
#promoText 
{
	width: 600px;
}

#promoImage 
{
	margin-left: auto;
	width: 280px;
	background-color: #00b343;
}

#behold {
	font-size: 20px;
	padding-left: 15px;
	color: #fff; 
}


#welcome {
	font-size: 50px;
	position: relative;
	bottom: 300px;
	left: 20px;
	color: #c98514;
	text-shadow: 2px 2px #000;
}

#herodescrip {
	color: #fff;
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 15px;
	text-align: right;
	padding: 15px;
}

.divider {
	display: flex;
	justify-content: center;
}


#productInfo {
	margin-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	padding-bottom: 30px;
}

.productDesc 
{
	width: 200px;
	height: 300px;
	background-color: #00b343;
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-size: 14px;
	color: #fff;
	line-height: 22px;
	align-items: center;
}

#mainFooter {
	margin-top: 30px;
	padding: 10px;
	width: 960px;
	height: 100px;
	background-color: #084d22;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
  	align-items: center;
}

#footerNav {
	width: 500px;
	color: #fff;

}

#copyRight 
{
	margin-left: auto;
	padding-right: 20px;
	color: #fff;
	width: 310px;
	font-size: 14px;
	text-align: right;
}








/*PAGE 2 - Notice we are using one style sheet for all of the pages*/

#contentcontain {
	margin-top: 40px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

#leftside {
	width: 440px;
	padding-left: 20px;
}

#founder {
	height: 50px;
	display: flex;
	justify-content: center;
	background-color: #00b343;
	margin-bottom: 10px;
}

#magician {
	height: 160px;
	background-color: #00b343;
	margin-bottom: 10px;
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;

}

#edwarddescrip {
	margin: 10px;
}

#witch {
	height: 170px;
	background-color: #00b343;
	margin-bottom: 10px;
	padding-right: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#emilydescrip {
	margin: 10px;
	text-align: right;
}


#location {
	height: 220px;
	background-color: #00b343;
	display: flex;
	flex-direction: row;
	padding: 10px;

}
.locationinfo {
	width: 200px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 15px;
	margin-top: -5px;
}


#rightside {
	margin-left: auto;
	margin-right: 20px;
	padding: 10px;
	width: 440px;
	height: 630px;
	background-color: #00b343;
	margin-bottom: 10px;
	display: flex;
	color: #fff;
	flex-direction: column;
	justify-content: space-between;
}

#radio {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	 
	padding: 20px 20px 0px 20px;
}
#radiobutt {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #fff; 
	font-size: 18px;
	padding: 0px 65px 20px 65px;
}





/*Page 3*/

#productImages 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
}

/*Get rid of this, here just to give different height*/
#productImages p
{
	line-height: 250px;
}

.productImg 
{
	width: 280px;
}


#contentAreaBig
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height*/
#contentAreaBig p 
{
	line-height: 300px;
}


#promo {
	display: flex;
	margin-bottom: 20px;

}

#promoImageBig
{
	width: 920px;
}
#collection {
	font-size: 50px;
	position: relative;
	bottom: 110px;
	left: 20px;
}

#descripbox {
	width: 920px;
	height: 80px;
	background-color: #00b343;
	margin-top: -170px;
	margin-left: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}
#descrip {
	margin: 20px;
	font-size: 18px;
	font-family: Bookman, Times, serif;
	text-align: center;
}

.collectionselection {
	width: 920px;
	height: 200px;
	margin: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.bookdescrip {
	width: 690px;
	background-color: #00b343;
	padding: 15px;
}

